@import url("https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100;0,200;0,300;0,600;0,700;0,800;0,900;1,100;1,200;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800;900&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Sora:wght@100;200;300;400;500;600;700;800&display=swap");

* {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  transition: 0.3s ease-in-out;
}
body {
  scroll-behavior: smooth;
}
.extension {
  animation-duration: 5s;
  animation-name: animate-rocket;
}
@keyframes animate-rocket {
  0% {
    transform: translateY(-30px) rotate(10deg);
  }
  5% {
    transform: translateY(-30px) rotate(15deg);
  }
  10% {
    transform: translateY(-30px) rotate(5deg);
  }
  15% {
    transform: translateY(-30px) rotate(10deg);
  }
  20% {
    transform: translateY(-30px) rotate(0);
  }
  100% {
    transform: translateY(-30px) translate3d(80vw) rotate(0);
  }
}
